[작성중]

## Application Information

...외부 서비스 도메인
http://rev.dhdiagram.net
http://revapi.dhdiagram.net

...관리자 컨트롤 페이지
http://localhost:8000/admin (API)
http://localhost:8001/admin (WEB)


...Reservation_Page (구간별 스케쥴 조회 페이지 - 고객조회페이지)
http://localhost:8001/reservation/reservationStart/


...구간별 운항 스케쥴 페이지
http://localhost:8001/reservation_start/cargo/ -> 전체구간 조회
http://localhost:8001/reservation_start/gmp2cju/ -> 김포 - 제주구간
http://localhost:8001/reservation_start/gmp2pus/ -> 김포 - 부산구간
http://localhost:8001/reservation_start/cju2pus/ -> 제주 - 부산구간
http://localhost:8001/reservation_start/cju2gmp/ -> 제주 - 김포구간
http://localhost:8001/reservation_start/pus2cju/ -> 부산 - 제주구간
http://localhost:8001/reservation_start/pus2gmp/ -> 부산 - 김포구간

회원가입페이지
http://localhost:8001/accounts/register/


회원가입 후 로그인페이지/로그아웃 페이지
http://localhost:8001/accounts/login/
http://localhost:8001/accounts/logout/


구간 스케쥴 조회 및 예약티켓 pdf 파일 다운로드 페이지
http://localhost:8001/ticket/boarding_ticket_download/
http://localhost:8001/ticket/b_gmp2cju/ -> 김포 - 제주구간
http://localhost:8001/ticket/b_gmp2pus/ -> 김포 - 부산구간
http://localhost:8001/ticket/b_cju2pus/ -> 제주 - 부산구간
http://localhost:8001/ticket/b_cju2gmp/ -> 제주 - 김포구간
http://localhost:8001/ticket/b_pus2cju/ -> 부산 - 제주구간
http://localhost:8001/ticket/b_pus2gmp/ -> 부산 - 김포구간


예약 항공권 정보 이메일 발송 페이지 http://localhost:8001/e_ticket/send_ticket/


입력값 전송 정보 테스트 http://localhost:8001/rev_post/main/

회원가입 / 로그인 API http://localhost:8001/reg_user/auth/register http://localhost:8001/reg_user/auth/login http://localhost:8000/api-auth/login/?next=/reg_user/api-auth/