## Application Information
[작업 및 정리중]

...외부 서비스 도메인
1) http://revapi.dhdiagram.net:8000
2) http://rev.dhdiagram.net:8001

http://rev.dhdiagram.net/admin

...Reservation_Page (구간별 스케쥴 조회 페이지 - 고객조회페이지)
http://localhost:8001/reservation/reservationStart/


...구간별 운항 스케쥴 페이지
http://localhost:8001/reservation_start/cargo/ -> 전체구간 조회
http://localhost:8001/reservation_start/gmp2cju/ -> 김포 - 제주구간
http://localhost:8001/reservation_start/gmp2pus/ -> 김포 - 부산구간
http://localhost:8001/reservation_start/cju2pus/ -> 제주 - 부산구간
http://localhost:8001/reservation_start/cju2gmp/ -> 제주 - 김포구간
http://localhost:8001/reservation_start/pus2cju/ -> 부산 - 제주구간
http://localhost:8001/reservation_start/pus2gmp/ -> 부산 - 김포구간

...회원가입페이지
http://localhost:8001/accounts/register/


...회원가입 후 로그인페이지/로그아웃 페이지
http://localhost:8001/accounts/login/
http://localhost:8001/accounts/logout/


...회원가입 / 로그인 API
http://localhost:8000/reg_user/auth/register
http://localhost:8000/reg_user/auth/login
