{% block title %}
<strong>회원가입</strong>
<br>
<br>
<br>
<strong>이 페이지는 한국에 거주하는 내국인을 위한 사이트입니다.<br>
한국거주 외국인 또는 해외거주 내국인께서는 국가/언어 설정을 변경하시어 알맞은 사이트로 이동하시기 바랍니다.
</strong>
<br>
<br>
<br>
{% endblock %}

{% block content %}
{% for object in object_list %}
<form action="" method="POST">
    <input type="radio">{{ object.all_consent }}<br>
    회원약관, 개인정보 수집/이용 및 국외이전, 개인정보 제3자 제공(선택사항), 마케팅 및 광고 활용(선택사항)에 모두 동의합니다.
    <br>
    <br>
    [필수]회원약관
    {{ object.membership_terms }}<br>
    <input type="radio">{{ object.check_01 }}<br>
    <br>
    [필수] 개인정보 수집 및 이용 안내
    {{ object.privacy }}<br>
    <input type="radio">{{ object.check_02 }}<br>
    <br>
    {{ object.overseas_transfer }}<br>
    <input type="radio">{{ object.check_03 }}<br>
    <br>
    [선택] 개인정보 제3자 제공에 대한 동의
    {{ object.three_party }}<br>
    <input type="radio">{{ object.check_04 }}<br>
    <br>
    [선택] 마케팅 및 광고 활용 동의
    {{ object.marketing }}<br>
    <input type="radio">{{ object.check_05 }}<br>
    <br>
    <br>
    <br>
    <a class="btn btn-lg btn-info" href="{% url 'Accounts:register' %}">약관동의 후 가입시작</a>
</form>
{% endfor %}
{% endblock %}

