<br/>
[정리 및 작성중]<br/>
## Application Information<br/>
<br/>
<br/>
...외부 서비스 도메인<br/>
http://ec2-13-124-180-18.ap-northeast-2.compute.amazonaws.com:8000<br/>
<br/>
<br/>
...안내 페이지<br/>
http://ec2-13-124-180-18.ap-northeast-2.compute.amazonaws.com:8000
<br/>
<br/>
...어드민페이지<br/>
http://ec2-13-124-180-18.ap-northeast-2.compute.amazonaws.com:8000/admin
Username : dhxxxxxxx
Password : xxxxxxxxx
<br/>
...회원가입페이지<br/>
http://ec2-13-124-180-18.ap-northeast-2.compute.amazonaws.com:8000/accounts/register/<br/>
<br/>
<br/>
...관리자 컨트롤 페이지<br/>
http://localhost:8000/admin (API)<br/>
http://localhost:8001/admin (WEB)<br/>
<br/>
<br/>
[확인필요]...Reservation_Page (구간별 스케쥴 조회 페이지 - 고객조회페이지)<br/>
http://localhost:8001/reservation/reservationStart/<br/>
<br/>
<br/>
...구간별 운항 스케쥴 페이지<br/>
http://ec2-13-124-180-18.ap-northeast-2.compute.amazonaws.com:8000/reservation_start/cargo/ -> 전체구간 조회<br/>
http://ec2-13-124-180-18.ap-northeast-2.compute.amazonaws.com:8000/reservation_start/gmp2cju/ -> 김포 - 제주구간<br/>
http://ec2-13-124-180-18.ap-northeast-2.compute.amazonaws.com:8000/reservation_start/gmp2pus/ -> 김포 - 부산구간<br/>
http://ec2-13-124-180-18.ap-northeast-2.compute.amazonaws.com:8000/reservation_start/cju2pus/ -> 제주 - 부산구간<br/>
http://ec2-13-124-180-18.ap-northeast-2.compute.amazonaws.com:8000/reservation_start/cju2gmp/ -> 제주 - 김포구간<br/>
http://ec2-13-124-180-18.ap-northeast-2.compute.amazonaws.com:8000/reservation_start/pus2cju/ -> 부산 - 제주구간<br/>
http://ec2-13-124-180-18.ap-northeast-2.compute.amazonaws.com:8000/reservation_start/pus2gmp/ -> 부산 - 김포구간<br/>
<br/>
<br/>
...회원가입 후 로그인페이지/로그아웃 페이지<br/>
http://ec2-13-124-180-18.ap-northeast-2.compute.amazonaws.com:8000/accounts/login/<br/>
http://ec2-13-124-180-18.ap-northeast-2.compute.amazonaws.com:8000/accounts/logout/<br/>
<br/>
<br/>
[작업중]...회원가입 / 로그인 API<br/>
http://ec2-13-124-180-18.ap-northeast-2.compute.amazonaws.com:8000/users<br/>
http://ec2-13-124-180-18.ap-northeast-2.compute.amazonaws.com:8000/users/list/{id}<br/>
<br/>
<br/>
