<br/>
[정리 및 작성중]<br/>
## Application Information<br/>
<br/>
...외부 서비스 도메인<br/>
1) http://revapi.dhdiagram.net:8000<br/>
2) http://rev.dhdiagram.net:8001<br/>
<br/>
...어드민페이지<br/>
http://rev.dhdiagram.net/admin<br/>
http://revapi.dhdiagram.net/admin<br/>
<br/>
## Application Information<br/>
<br/>
...외부 서비스 도메인<br/>
http://rev.dhdiagram.net<br/>
http://revapi.dhdiagram.net<br/>
<br/>
...관리자 컨트롤 페이지<br/>
http://localhost:8000/admin (API)<br/>
http://localhost:8001/admin (WEB)<br/>
<br/>
...Reservation_Page (구간별 스케쥴 조회 페이지 - 고객조회페이지)<br/>
http://localhost:8001/reservation/reservationStart/<br/>
<br/>
<br/>
...구간별 운항 스케쥴 페이지<br/>
http://localhost:8001/reservation_start/cargo/ -> 전체구간 조회<br/>
http://localhost:8001/reservation_start/gmp2cju/ -> 김포 - 제주구간<br/>
http://localhost:8001/reservation_start/gmp2pus/ -> 김포 - 부산구간<br/>
http://localhost:8001/reservation_start/cju2pus/ -> 제주 - 부산구간<br/>
http://localhost:8001/reservation_start/cju2gmp/ -> 제주 - 김포구간<br/>
http://localhost:8001/reservation_start/pus2cju/ -> 부산 - 제주구간<br/>
http://localhost:8001/reservation_start/pus2gmp/ -> 부산 - 김포구간<br/>
<br/>
<br/>
...회원가입페이지<br/>
http://localhost:8001/accounts/register/<br/>
<br/>
<br/>
...회원가입 후 로그인페이지/로그아웃 페이지<br/>
<br/>
...회원가입페이지<br/>
http://localhost:8001/accounts/register/<br/>
<br/>
<br/>
...회원가입 후 로그인페이지/로그아웃 페이지<br/>
http://localhost:8001/accounts/login/<br/>
http://localhost:8001/accounts/logout/<br/>
<br/>
<br/>
...회원가입 / 로그인 API<br/>
http://localhost:8000/reg_user/auth/register<br/>
http://localhost:8000/reg_user/auth/login<br/>
<br/>
<br/>
...회원가입 / 로그인 API<br/>
http://localhost:8000/reg_user/auth/register<br/>
http://localhost:8000/reg_user/auth/login<br/>