{% block title %}
회원가입이 완료되었습니다. 대한항공 회원이 되신것을 진심으로 축하드립니다!
<br>
<br>
<strong>환영합니다! {{object.name}} 님의 가입정보는 아래와 같습니다.</strong>
<br>
<br>
{% endblock %}

{% block content %}
{% for object in object_list %}
고객명 | {{ object.name }}<br>
생년월일 | {{ object.birth }}<br>
이메일 | {{ object.email }}<br>
주소(01) | {{ object.main_address }}<br>
주소(02) {{ object.sub_address }}<br>
연락처 |{{ object.cellphone }}<br>
소속 | {{ object.company_name }}<br>
부서 | {{ object.company_depart }}<br>
직급 | {{ object.company_spot }}<br>
<br>
<br>
{% endfor %}
{% endblock %}