{% block title %}
*** Ticket Reservation ***<br>
<br>
<br>
<br>
{% endblock %}

{% block content %}
{% for object in object_list %}
    편도/왕복 : {{ object.one_or_round }}<br>    
    출발지/도착지 : {{ object.start_end }}<br>
    가는날/오는날 : {{ object.fine_day }} - {{ object.comming_day }}<br>
    탑승객구분(성인) : {{object.passenger_classification_adult}}<br>
    탑승객구분(소아) : {{object.passenger_classification_infant}}<br>
    탑승객구분(유아) : {{object.passenger_classification_child}}<br>
    탑승자 이름 : {{ object.passenger_name }}<br>
    탑승자 연락처 : {{ object.contect }}<br>
    항공권 번호 : {{ object.ticket_number }}<br>
    예약번호 : {{ object.reservation_number }}<br>
    좌석등급 : {{ object.seat_level }}<br>  
    항공편명 : {{ object.flight_name }}<br>
    항공기출발시간/항공기도착시간 : {{ object.departure_time }} - {{ object.arrival_time }}<br>
    회원/비회원 : {{ object.member_table }}<br>
    항공편가격 : {{ object.price }}<br>
    팁승인원 : {{ object.passenger_number }}<br>
    항공권예약날짜 : {{ object.ticket_reservation_date }}<br>
    비행시간 : {{ object.flight_time }}<br>
    수화물 : {{ object.luggage }}<br>
    운임 : {{ object.fare }}<br>
    결제수단 : {{ object.method_of_payment }}<br>
    결제가격 : {{ object.payment }}<br>
    결제번호 : {{ object.billing_number }}<br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endfor %}
{% endblock %}
