<form action="" method="post">
여정 | 항공스케쥴조회 | 테스트 페이지_01<br>
    <br>
    {% for object in object_list %}
{% csrf_token %}
<br>
<br>
<br>
<strong>항공기 비행구간 : {{ object.cargo_flight_section_test }}<br></strong>
항공기 출발시간 : {{ object.cargo_departure_test }}<br>
항공기 도착시간 : {{ object.cargo_arrival_test }}<br>
항공기 편명 : {{ object.cargo_flight_number_test }}<br>
<strong>특별운임 : {{ object.cargo_special_fare_test  }}<br></strong>
<strong>정상운임 : {{ object.cargo_normal_fare_test }}<br></strong>
<br>
<!--<form action="/reservation/reservationSuccess/" method="post">-->
    <a href="{% url 'airline_cousrse_search:' %}"><button type="submit" class="save btn-default">예약하기</button></a>

<!--<input type="submit" value="예악하기"-->
    <!--<a class="btn btn-lg btn-info" href="{% url 'airline_cousrse_search:CJU2GMPReservation' %}"><strong>항공권 조회하기</strong></a>-->
<!--<input type="submit" name="김포(GMP)-제주(CJU)" value="검색">-->
</form>
<!--<a class="btn btn-lg btn-info" href="{% url 'airline_reservation:reservationSuccess' %}"><strong>선택CArr한 항공권 예약하기</strong></a>-->

<br>
<br>
{% endfor %}
</form>