{% block content %}
<form action="" method="post">
<strong>여정 및 스케쥴 조회</striong> 
{% for object in object_list %}
{% csrf_token %}
<br>
<br>
<br>
항공기 출발시간 : {{ object.departure_time }}<br>
항공기 도착시간 : {{ object.arrival_time }}<br>
항공기 비행구간 : {{ object.flight_section }}<br>
항공기 편명 : {{ object.flight_number }}<br>
특별운임 : {{ object.special_fare  }}<br>
정상운임 : {{ object.normal_fare }}<br>
<br>
<a class="btn btn-lg btn-info" href="{% url 'airline_reservation:reservationSuccess' %}"><strong>선택한 항공권 예약하기</strong></a>
<br>
<br>
{% endfor %}
{% endblock %}
</form>